body {
    background-color: #f8f9fa;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.contact-container h2 {
    margin-bottom: 30px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
}

.contact-form button {
    width: 100%;
}

/* Image styles */
.contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image img {
    max-width: 500px;
    margin-top: 170px;
    align-items: center;
    border-radius: 50px;
    height: 500px;
}