body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 50px;
}

.dsc-container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#recipeName {
    color: #333;
}

#ingredientList {
    list-style-type: none;
    padding-left: 0;
}

#ingredientList li {
    margin-bottom: 5px;
}

#recipeDescription {
    color: #555;
}

.feedback-container {
    max-width: 800px;
    margin: 20px auto 30px; 
}

#feedbackForm {
    margin-top: 20px;
}

#feedbackForm label {
    font-weight: bold;
    color: #333;
}

#feedbackTextarea {
    resize: vertical;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
