body {
    background-color: #f8f9fa;
}

.container {
    padding-top: 50px;
}

.jumbotron {
    background-color: #343a40;
    color: #fff;
    padding: 80px 30px;
    border-radius: 10px;
}

.carousel-item img {
    height: 300px;
    /* Adjust as needed */
    object-fit: cover;
}

#banner-img img {
    height: 800px;
}

.navbar {
    background-color: transparent;
    /* Set the background color to transparent */
    backdrop-filter: blur(10px);
    /* Add a blur effect for better readability */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
    font-size:24px;
    font-weight: bold;
    /* Set text color to white or any other color for better visibility */
}


.navbar-nav .nav-link {
    color: white;
    /* Text color */
    font-size: 16px;
    /* Increase font size */

    text-transform: uppercase;
    /* Convert text to uppercase */
    transition: color 0.3s;
    /* Add transition for smooth color change */
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
    /* Change text color on hover */
}

.navbar-toggler-icon {
    color: white;
    /* Navbar toggler icon color */
}

.navbar-toggler-icon:hover {
    color: #ffc107;
    /* Change color of navbar toggler icon on hover */
}

.welcome-container {
    margin-top: 30px;
}