body {
    background-color: #f8f9fa;
}
.login-div{
    align-items: center;
    margin: 50px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.login-container {
    margin-top: 80px;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.login-container h2 {
    margin-bottom: 30px;
    text-align: center;
}
.login-form input {
    margin-bottom: 20px;
}
.login-form button {
    width: 100%;
}

