.profile-container {
    text-align: center;
    margin-top: 100px;
    height: 80vh;
}

.profile-icn {
    font-size: 100px;
    margin-bottom: 20px;
}

.edit-profile-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.edit-profile-btn:hover {
    background-color: #0056b3;
}

.recipe-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

.recipe-table th,
.recipe-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.recipe-table th {
    background-color: #f2f2f2;
}

.update-btn,
.delete-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545;
}

.update-btn:hover,
.delete-btn:hover {
    background-color: #218838;
}