body {
    background-color: #f8f9fa;
}

.register-div {
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom:10px;
}

.register-container {
    width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.register-container h2 {
    margin-bottom: 30px;
    text-align: center;
}

.register-form input {
    margin-bottom: 20px;
}

.register-form button {
    width: 100%;
}